name: oasman-manifold-build-and-release

# permissions:
#   contents: write  # Allow the workflow to push changes

# on:
#   push:
#     branches: [ main ]
on:
  workflow_dispatch:
    inputs:
      version_num:
        description: 'Version Number To Display On Screen'
        type: string
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install platformio
        mkdir -p bins/

    # - name: Build PlatformIO manifold v2
    #   run: |
    #     buildname="manifold_v2"
    #     cd OASMan_ESP32
    #     pio run
    #     find .pio/build/ -type f -name '*.bin' -exec sh -c 'cp -- "$1" "../bins/'"${buildname}"'_${1##*/}"' _ {} \;
    #     pio run --target clean
    #     rm -rf .pio/build/*

    # - name: Build PlatformIO controller cyd3p2
    #   run: |
    #     buildname="controller_cyd3p2"
    #     cd Wireless_Controller
    #     export version_num="${{ inputs.version_num }}"
    #     pio run -e esp32-2432S032C
    #     find .pio/build/ -type f -name '*.bin' -exec sh -c 'cp -- "$1" "../bins/'"${buildname}"'_${1##*/}"' _ {} \;
    #     pio run -e esp32-2432S032C --target clean

    

    - name: Build PlatformIO controller ws2p8
      run: |
        buildname="controller_ws2p8"
        cd Wireless_Controller
        export version_num="${{ inputs.version_num }}"
        pio run -e esp32-s3touchlcd2p8
        find .pio/build/ -type f -name '*.bin' -exec sh -c 'cp -- "$1" "../bins/'"${buildname}"'_${1##*/}"' _ {} \;
        pio run -e esp32-s3touchlcd2p8 --target clean


    - name: Create Release
       # && github.event_name == 'push'
      if: success() && github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v1
      with:
        tag_name: build-${{ github.run_number }}
        name: Build ${{ github.run_number }}
        body: |
          Automated build from commit ${{ github.sha }}
          
          **Commit:** ${{ github.event.head_commit.message }}
          **Date:** ${{ github.event.head_commit.timestamp }}
        files: bins/*.bin
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

