name: PlatformIO CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install platformio

    - name: Build PlatformIO Project
      run: |
        cd OASMan_ESP32
        pio run

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      if: success()
      with:
        name: firmware
        path: OASMan_ESP32/.pio/build/**/*.bin
